body{
	background: #fff;
	margin: 50px;
	text-align: center;
	font-family: "Georgia";
	color: #333;
}

#container{
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

img{
	border-radius: 5px;
}

a{
	color: #3cb1db;
}

a:hover{
	color: #34eaff;
}
